.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__text {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 19px;
  }
}
