.header {
  background-color: #000000;
  height: 74px;
  border-bottom: 1px solid #545454;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 45px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 480px) {
  .header {
    background-color: #000000;
    height: 56px;
    border-bottom: 1px solid #545454;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 28px;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
